@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.costum-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(39, 39  , 40, 0.5);
    backdrop-filter: blur(10px); */
    padding-left: 53px;
    color: #ffffff;
    flex-shrink: 0; /* Prevent the header from shrinking */
    height: 60px; /* Set a fixed height for the header */
   
}

.costum-navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    
}

.costum-navigation .costum-btnlogin {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #D3570D;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #D3570D;
    font-weight: 750;
    margin-right: 50px;
    transition: 0.5s;
}

.costum-navigation .costum-btnlogin:hover {
    background: #D3570D;
    color: black;
}

.costum-navigation .costum-navigation-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #D3570D;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scale(0);
    transition: 0.5s;
}

.costum-navigation .costum-navigation-link:hover::after {
    transform: scale(1);
    color: #000;
}

.costum-navigation-link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-right: 40px;
}

.costum-logo img {
    margin-left: 40px;
}

  

